<section id="sidebar">
    <h1>Links</h1>
    <div class="ad">
        <img src="/images/dethe.png" />
        <h1>Dethe Elza</h1>
        <h2>Aesthetic Programmer</h2>
        <a href="https://www.facebook.com/DetheElza">Facebook</a><br />
        <a class="buy" href="https://github.com/dethe">Github</a>
        <a href="http://www.flickr.com/photos/daddygravity/">Flickr</a><br />
        <a class="buy" href="https://twitter.com/dethe">Twitter</a>
        <a href="http://www.goodreads.com/user/show/3796695-dethe-elza">GoodReads</a><br />
        <a class="buy" href="mailto:dethe@livingcode.org">Email</a> 
    </div>
    <div class="ad">
        <img src="/images/livingcode_icon_sm.png" />
        <h1>Archives</h1>
        <h2>All posts and projects</h2>
        <a href="/entries/">By Date</a>
        <a href="/tags/" class="buy">By Tag</a>
    </div>
    <div class="ad">
        <img src="/assets/waterbear/icon.png" />
        <h1>Waterbear</h1>
        <h2>Programming for the Fun of It</h2>
        Site: <a href="http://waterbearlang.com/">waterbearlang.com</a><br />
        Source: <a href="https://github.com/waterbearlang/waterbear">Github</a><br />
        Follow: <a href="https://twitter.com/waterbearlang">@Waterbearlang</a>
    </div>
    <div class="ad">
        <img src="/assets/strangeplaces/icon.png" />
        <h1>Strange Places</h1>
        <h2>Daniela's literary blog</h2>
        <a href="http://strangeplaces.livingcode.org/">Strange Places</a>
    </div>
    <h1>iPhone Apps</h1>
    <div class="ad">
        <img src="/assets/idontstop/icon.png" />
        <h1>i don't stop</h1>
        <h2>Playful beatbox for everyone (Free!)</h2>
        <a href="http://itunes.apple.com/us/app/i-dont-stop/id452500619">More info</a>
    </div>
    <div class="ad">
        <img src="/assets/ihypno/icon.png" />
        <h1>iHypno</h1>
        <h2>Mind control for the rest of us</h2>
        <a href="/projects/ihypno/">More info</a>
        <a class="buy" href="http://itunes.com/apps/livingcode/ihypno">AppStore</a>
    </div>
    <div class="ad">
        <img src="/assets/pastelfinger/icon.png" />
        <h1>Pastel Finger</h1>
        <h2>Finger painting for kids of all ages</h2>
        <a href="/projects/pastelfinger/">More info</a>
        <a class="buy" href="http://itunes.com/apps/livingcode/pastelfinger">AppStore</a>
    </div>
    <div class="ad">
        <img src="/assets/wordsforcrows/icon.png" />
        <h1>Words for Crows</h1>
        <h2>Poetry by Daniela Elza, original art by Nevena Giljanovic</h2>
        <a href="/projects/wordsforcrows/">More info</a>
        <a class="buy" href="http://itunes.com/apps/livingcode/wordsforcrows">AppStore</a>
    </div>
    <h1>Web Apps</h1>
    <div class="ad">
        <img src="/assets/sliders/icon.png" />
        <h1>Sierra Sliders 2</h1>
        <h2>Brainstorming Tool inspired by Kathy Sierra</h2>
        <a href="/projects/sliders/">More info</a>
    </div>
    <h1>OS X Apps and Libraries</h1>
    <div class="ad">
        <img src="/assets/drawingboard/icon.png" />
        <h1>Drawing Board</h1>
        <h2>Animation Sketching Environment</h2>
        <a href="/projects/drawingboard/">More info</a>
    </div>
    <div class="ad">
        <img src="/assets/pastels/icon.png" />
        <h1>Pastels</h1>
        <h2>Screen Saver for OS X</h2>
        <a href="/projects/pastels/">More info</a>
    </div>
</section>
