<section id="sidebar" 
        xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:py="http://genshi.edgewall.org/" 
        xmlns:xi="http://www.w3.org/2001/XInclude">
    <!-- example of static widget -->
    <xi:include href="about.html" />
    <!-- example of dynamic widget, client-side include -->
    <a href="/widgets/recent_posts.html" rel="include"></a>
    <a href="/widgets/projects.html" rel="include"></a>
    <a href="/widgets/twitter.html" rel="include"></a>
    <a href="/widgets/bookmarks.html" rel="include"></a>
    <a href="/widgets/living_network.html" rel="include"></a>
    <a href="/widgets/archives.html" rel="include"></a>
    <a href="/widgets/tagcloud.html" rel="include"></a>
</section>
